:root {
  --primary-color: #d0a144;
  --secondary-color-1: #fdb602;
  --secondary-color-2: #784f33;
  --secondary-color-3: #dbb468;
  --secondary-color-4: #295c7a;
  --background-gradient-1: #295c7a;
  --background-gradient-2: #0072b5;
  --light-text-color: #ffffff;
  --dark-background-color: #252b42;
  --text-color: #252b42;
  --second-text-color: #737373;
  --muted-color: #bdbdbd;
  --disbled-element-color: #8ec2f2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* body{
  overflow-x: hidden;
} */

body h1,
h2,
h3,
h5 {
  font-family: "martel", serif;
}
body h4 {
  font-family: "Montserrat", sans-serif;
}
body h6 {
  font-family: "open sans", sans-serif;
}
p {
  font-family: "open sans", sans-serif;
}

/* header */

.header {
  background: url(images/header-cover.png);
  background-size: cover;
  background-position: center;
  height: 110vh;

  /* max-width: 100%;
  min-width: 100%; */
}
.menu-icon {
  display: none;
}

.navi {
  /* display: flex;
  flex-direction: row; */
  padding-top: 40px;
  padding-bottom: 20px;
  /* overflow-x: hidden; */
}

.nav-logo {
  align-self: center;
}
.nav-logo h3 {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.nav-menu {
  white-space: nowrap;
  align-self: center;
}
.nav-menu ul {
  margin: 0;
}
.nav-menu ul li {
  list-style-type: none;
  display: inline-block;
}
.nav-menu ul li a {
  color: var(--second-text-color);
  text-decoration: none;
  padding-right: 35px;
}

.header-hero h1 {
  color: var(--text-color);
  font-size: 58px;
  font-weight: 900;
}
.header-hero h4 {
  color: var(--second-text-color);
  padding: 35px 0;
}

.header-hero-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.header-hero-buttons a {
  text-decoration: none;
  margin: 20px 0;
  padding: 10px 40px;
  border: 1px solid var(--secondary-color-2);
  border-radius: 30px;
  color: var(--secondary-color-2);
  font-weight: bold;
  white-space: nowrap;
}
.header-hero-buttons a:hover {
  color: var(--light-text-color);
  background-color: var(--secondary-color-2);
}

.hero {
  padding-top: 125px;
}

/* features */

.features-heading {
  margin-bottom: 30px;
}
.features-heading h2 {
  color: var(--text-color);
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}
.features-heading p {
  color: var(--second-text-color);
}

.features {
  margin-top: 150px;
  /* margin-bottom: 150px; */
}

.label-container {
  padding: 20px 10px;
  min-width: 330px;
  max-width: 330px;
}
.label-header {
  display: flex;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 20px;
  white-space: nowrap;
}

.col-sm-4 h6 {
  margin: 0;
  font-weight: bold;
  color: var(--second-text-color);
}

.blue-round {
  display: flex;
  background-color: #295c7a;
  height: 72px;
  max-height: 72px;
  min-height: 72px;
  width: 72px;
  max-width: 72px;
  min-width: 72px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.features-buttons {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 10px;
  margin-top: 40px;
}
.col-sm-6 .btn-container {
  margin: 20px 0;
}
.features-buttons a {
  color: var(--secondary-color-4);
  border: 1px solid var(--secondary-color-4);
  border-radius: 30px;
  padding: 10px 40px;
  margin: 20px 0;
  font-weight: bold;
}
.features-buttons a:hover {
  background-color: var(--secondary-color-4);
  color: var(--light-text-color);
}

/* about */

.about {
  padding: 100px 0;
}

.about-header {
  text-align: center;
  padding-bottom: 100px;
}

.card img {
  border-radius: 0;
}

.about h2 {
  color: var(--text-color);
  font-weight: bold;
}
.about p {
  color: var(--second-text-color);
}

.blue-round-big a {
  /* display: flex; */
  background-color: #295c7a;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.blue-round-big .btn {
  display: flex;
  align-items: center;
}
.play-blue {
  display: none;
}
.blue-round-big .btn:hover {
  background-color: var(--light-text-color);
  .play-blue {
    display: flex;
  }
  .play-white {
    display: none;
  }
}

.about-description-header {
  padding: 20px 0;
}
.about-description-header h2 {
  padding-bottom: 10px;
}
.about-desc {
  padding-top: 30px;
}
.about-desc img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

/* testimonials */

.testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
}
#testimonials-bg {
  background: #295c7a;
}

.testimonials-card {
  flex: 0 0 auto;
  width: 602px;
  height: 361px;
  padding: 30px 60px;
  margin-left: 80px;
  margin-bottom: 20px;
  /* min-width: 100%; */
}
.testimonials-card-content {
  border-radius: 0;
}
.testimonials-main {
  white-space: inherit;
}
.testimonials-main {
  gap: 30px;
}
.scrolling-wrapper-flexbox {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  
}
/* .testimonials {
  background: #295c7a;
} */

/* .testimonials-card-content{
  display: flex;
  flex-direction: row;
} */

#clients-icon {
  position: absolute;
  object-position: -135px 0;
  overflow: visible;
  /* white-space: nowrap; */
}

.tcc-stars {
  padding: 15px 0;
}

.col-4 {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .testimonials-card {
    width: 353px;
    height: 408px;
    margin: 0;
  }
  .scrolling-wrapper-flexbox {
    overflow-x: unset;
  }
  .testimonials-main {
    flex-direction: column;
  }

  .scrolling-wrapper-flexbox {
    align-items: center;
    justify-content: center;

    min-width: 100%;
  }
  #clients-icon {
    object-position: -105px 0;
  }
  .navi{
    overflow-x: hidden;
  }
}

@media screen and (max-width: 500px) {
  .testimonials-card {
    width: 253px;
    height: 408px;
    margin: 0;
  }
  .navi{
    overflow-x: hidden;
  }
}
